@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Neuropol X';
    src: url('/neuropol_x.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    background-image: url('/bgimg.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /*font-family: 'Neuropol X', sans-serif;*/
    height: 100vh;
    margin: 0;
    padding: 0;
}
